<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car Lease | Welcome</title>
</head>
<body>
<nav>
    <a href="/">Index</a> |
    <a href="/users">Users</a> |
    <a href="/reservations">Reservations</a> |
    <a href="/cars">Cars</a> |
    <a href="/makes">Makes</a> |
    <a href="/features">Features</a> |
</nav>
<main>
    <h1>Welcome</h1>
    <p>Cars for rent</p>
</main>
</body>
</html>